.portfolio-links {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .portfolio-link {
    text-decoration: none;
    font-weight: bold;
  }
  
  .portfolio-link:hover {
    text-decoration: underline;
  }
  