<div class="secondary-buttons">
  <div *ngFor="let button of jobHistoryKeys">
    <a
      [class.active-link]="type === button"
      class="inactive-link"
      routerLinkActive="active-link"
      (click)="toggleType(button)"
      >[{{ button }}]</a
    >
  </div>
  <a
    [class.active-link]="type === 'Skills'"
    class="inactive-link"
    routerLinkActive="active-link"
    (click)="toggleType('Skills')"
    >[Skills]</a
  >
</div>
<br />
<div *ngIf="allJobHistory[type] && allJobHistory[type].length > 0">
  <div [@stagger]="allJobHistory[type].length">
    <div *ngFor="let job of allJobHistory[type]">
      <job-history-component [job]="job"></job-history-component>
    </div>
  </div>
</div>

<!-- Skills -->
<div class="wordCloud-parent" [class.hide-canvas]="type !== 'Skills'" #wordCloudCanvasParent>
  <canvas class="wordCloud" #wordCloudCanvas></canvas>
</div>
