<h1 class="h1-mobile">
  {{ title }}
</h1>

<div class="content-nav">
  <h1 class="h1-hide">
    {{ title }}
  </h1>
  <div class="display-switcher">
    <h4
      [ngClass]="{ selected: displaySwitcher === 'experience' }"
      (click)="displaySwitcher = 'experience'"
    >
      Experience
    </h4>
    <h4
      [ngClass]="{ selected: displaySwitcher === 'skills' }"
      (click)="displaySwitcher = 'skills'"
    >
      Skills
    </h4>
    <h4
      [ngClass]="{ selected: displaySwitcher === 'portfolio' }"
      (click)="displaySwitcher = 'portfolio'"
    >
      Portfolio
    </h4>
    <h4
      [ngClass]="{ selected: displaySwitcher === 'contact' }"
      (click)="displaySwitcher = 'contact'"
    >
      Contact
    </h4>
  </div>
</div>

<div class="justify" >
  <div class="parent" [@cardAnimation]="tiles.length" *ngIf="displaySwitcher === 'experience'">
    <div
      #parent
      *ngFor="let tile of tiles"
      class="tile"
      [ngClass]="{ big: tile.big, deepen: tile.toggled }"
      (click)="tileClick(tile.id); scrollToTop(parent)"
    >
      <div *ngIf="tile.title || tile.subTitle || tile.text || tile.list">
        <h2 class="h2-mobile-compatible" *ngIf="tile.title">
          {{ tile.title }}
        </h2>
        <h3 *ngIf="tile.subTitle">{{ tile.subTitle }}</h3>
        <p *ngIf="tile.text">{{ tile.text }}</p>
        <div *ngIf="tile.list">
          <ul *ngFor="let item of tile.list">
            <li>{{ item }}</li>
          </ul>
        </div>
        <div class="fadeout"></div>
      </div>
    </div>
  </div>
</div>

<div class="justify-skills" >
  <div class="parent-skills" [@cardAnimation]="tiles.length" *ngIf="displaySwitcher === 'skills'">
    <div *ngFor="let skill of skills" class="skill-tile">
      <div *ngIf="skill">
        <h2>{{ skill }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="justify" >
  <div class="parent" [@cardAnimation]="tiles.length" *ngIf="displaySwitcher === 'portfolio'">
    <div
      *ngFor="let item of portfolio"
      class="tile big portfolio-tile"
      (click)="openLinkUrl(item.link)"
    >
      <div *ngIf="item.title || item.link">
        <div [ngClass]="{ 'image-title-pairing': item.source }">
          <img *ngIf="item.source" class="image" src="{{ item.source }}" />
          <div class="keep-left-please">
            <h2 class="h2-mobile-compatible">{{ item.title }}</h2>
            <p>{{ item.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="justify" >
  <div class="parent" [@cardAnimation]="tiles.length" *ngIf="displaySwitcher === 'contact'">
    <div
      *ngFor="let item of contact"
      class="tile big portfolio-tile"
      (click)="openLinkUrl(item.link)"
    >
      <div *ngIf="item.title || item.link">
        <div class="keep-left-please">
          <h2 class="h2-mobile-compatible">{{ item.title }}</h2>
          <p>
            <em>{{ item.link }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
