<div class="parent-container">
  <div class="center-column">
    <h1>Porter Lyman</h1>

    <div class="header-buttons">
      <a
        [routerLink]="['/job-history']"
        class="inactive-link"
        routerLinkActive="active-link"
        >[Job History]</a
      >
      <a
        [routerLink]="['/portfolio']"
        class="inactive-link"
        routerLinkActive="active-link"
        >[Portfolio]</a
      >
      <a
        [routerLink]="['/contact']"
        class="inactive-link"
        routerLinkActive="active-link"
        >[Contact]</a
      >
    </div>
    <router-outlet />
  </div>
</div>


