.justify {
  position: absolute;
  margin: auto;
  margin-bottom: 50px;
  left: 0;
  width: 80%;
  right: 0;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
}

.tile {
  background-color: rgb(245, 245, 246);
  margin: 10px;
  height: 200px;
  max-width: calc((100% / 4) - 60px);
  width: 100%;
  padding: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.tile:hover {
  cursor: pointer;
  background-color: #ecf6ff;
  box-shadow: 5px 5px 5px #888888;
}

.big {
  max-width: calc(((100% / 4) * 2) - 80px);
}

.deepen {
  height: 420px;
  background-color: #ecf6ff;
}

@media (max-width: 1250px) {
  .tile {
    max-width: calc((100% / 3) - 60px);
  }
  .big {
    max-width: calc(((100% / 3) * 2) - 80px);
  }
}

@media (max-width: 1024px) {
  .tile {
    max-width: calc((100% / 2) - 40px);
  }
  .big {
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 480px) {
  .tile {
    height: 100px;
    max-width: calc(100% - 40px);
  }
  .big {
    height: 200px;
    max-width: calc(100% - 40px);
  }
}
